// $primary:#e74c3c;
$font-family-sans-serif:Lato,
"Microsoft Jhenghei",
"Hiragino Sans GB",
"Microsoft YaHei",
sans-serif!important;
$h1-font-size: 30px;
$theme-colors: ( "darkx":rgba(0, 0, 0, 0.527), "transparent": transparent);